<div>
  <h1><%= t('sessions.title') %></h1>

  <% if flash[:alert] %>
    <div style="color: red;">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= form_with url: login_path, scope: :session do |f| %>
    <div>
      <%= f.label :name, User.human_attribute_name(:name) %>
      <%= f.text_field :name, required: true, autofocus: true %>
    </div>
    <%= f.submit t('sessions.login') %>
  <% end %>
</div>

