<% content_for :title, "Scores" %>

<h1><%= @difficulty %>パズル ランキング</h1>

<table>
  <thead>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <th>クリアタイム</th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each_with_index do |score, index| %>
      <tr>
        <td><%= index + 1 %>位</td>
        <td><%= score.user&.name || "ゲストユーザー" %></td>
        <td><%= score.clear_time %>秒</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="difficulty-tabs">
  <% @difficulties.each do |size| %>
    <%= link_to "#{size}パズル",
                scores_path(difficulty: size),
                class: "tab-button #{'active' if @difficulty == size}" %>
  <% end %>
</div>

