<% content_for :title, "Scores" %>

<h1><%= t('scores.title', size: @difficulty) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('scores.rank') %></th>
      <th><%= t('scores.name') %></th>
      <th><%= t('scores.clear_time') %></th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each_with_index do |score, index| %>
      <tr>
        <td><%= t('scores.rank_format', num: index + 1) %></td>
        <td><%= score.user&.name || t('scores.guest_user') %></td>
        <td><%= t("scores.score", time: score.clear_time) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="difficulty-tabs">
  <% @difficulties.each do |size| %>
    <%= link_to t('scores.title_with_size', size: size),
                scores_path(difficulty: size),
                class: "tab-button #{'active' if @difficulty == size}" %>
  <% end %>
</div>

