<header class="game-title">
  <h1><%= t('scores.title', size: @difficulty) %></h1>
</header>

<div class="menu ranking-container ranking-board"
     style="background-image: url('<%= asset_path("ranking.png") %>');">
  <div class="difficulty-tabs">
    <% @difficulties.each do |size| %>
      <%= link_to t('scores.title_with_size', size: size),
                  scores_path(difficulty: size),
                  class: "tab-button #{'active' if @difficulty == size}" %>
    <% end %>
  </div>

  <div class="ranking-table-wrapper">
    <table class="ranking-table">
      <thead>
        <tr>
          <th><%= t('scores.rank') %></th>
          <th><%= t('scores.name') %></th>
          <th><%= t('scores.clear_time') %></th>
        </tr>
      </thead>
      <tbody>
        <% @scores.each_with_index do |score, index| %>
          <% is_new_record = params[:new_score_id].to_i == score.id %>
          <tr class="ranking-row <%= "rank-#{index + 1}" if index < 3 %> <%= 'highlight-me' if is_new_record %>">
            <td><%= t('scores.rank_format', num: index + 1) %></td>
            <td><%= score.user&.name || t('scores.guest_user') %></td>
            <td><%= format_time(score.clear_time) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
