<p style="color: green"><%= notice %></p>

<% content_for :title, "Scores" %>

<h1>タイムランキング（TOP 10）</h1>

<table>
  <thead>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <th>クリアタイム</th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each_with_index do |score, index| %>
      <tr>
        <td><%= index + 1 %>位</td>
        <td><%= score.user_name %></td>
        <td><%= score.clear_time %>秒</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "パズルに戻る", root_path %>
