<h1><%= t('users.title') %></h1>

<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :name, User.human_attribute_name(:name) %>
    <%= f.text_field :name, required: true, autofocus: true %>
  </div>
  <%= f.submit t('users.registration') %>
<% end %>


