<h1><%= t('users.title') %></h1>

<% if @user.errors.any? %>
  <div style="color: red;">
    <h2><%= t('users.errors', count: @user.errors.count) %></h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :name, User.human_attribute_name(:name) %>
    <%= f.text_field :name, required: true, autofocus: true %>
  </div>
  <%= f.submit t('users.registration') %>
<% end %>


