<nav class="minimal-nav">
  <div class="nav-left">
    <%= link_to t('navbar.return'), root_path unless current_page?(root_path) %>
  </div>
  <div class="nav-right">
    <% if current_user %>
      <span class="user-name"><%= current_user.name %></span>
      <%= link_to t('navbar.logout'), logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' %>
    <% else %>
      <%= link_to t('navbar.login'), login_path %>
      <%= link_to t('navbar.new_registration'), new_user_path %>
    <% end %>
  </div>
</nav>
