<nav class="minimal-nav">
  <div class="nav-left">
    <%= link_to '← 戻る', root_path unless current_page?(root_path) %>
  </div>
  <div class="nav-right">
    <% if current_user %>
      <span class="user-name"><%= current_user.name %></span>
      <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' %>
    <% else %>
      <%= link_to 'ログイン', login_path %>
      <%= link_to '新規登録', new_user_path %>
    <% end %>
  </div>
</nav>
