<header class="game-title">
  <h1><%= t('puzzles.title') %></h1>
</header>

<div class="menu" style="<%= board_background_style %>">
  <h2><%= t('puzzles.please_select') %></h2>
  <ul>
    <% @difficulties.each do |size| %>
      <li class="menu-item">
        <%= link_to t('puzzles.play_with_size', size: size), puzzle_path(size) %>
        <%= link_to t('puzzles.ranking'), scores_path(difficulty: size) %>
      </li>
    <% end %>
  </ul>
</div>


